@import url("https://use.typekit.net/iyd3oxw.css");

 body {
    font-family: "neue-haas-grotesk-text", sans-serif;
 }

 h1, h2, h3 {
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
 }
