.contactPage {
    background-color: #20123E;
    padding: 0 2rem 4rem;
}

.colourLightPurple {
    color: #E5D6FC;
}

.introPadding {
    padding-bottom: 2rem;
}

.formMargin {
    margin-bottom: 2rem;
}

.formButtonMargin{
    margin: 2rem 5rem 3rem;
}

.contactTitlePadding {
    padding-bottom: 1rem
}

.formButton {
    border: none;
    text-align: center;
    display: grid;
    background-color: #8A26A0;
    color: #E5D6FC;
    text-decoration: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.formButton:hover,
.formButton:focus {
    background: #4A2A93;
}

.formButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.contactForm {
    font-family: "ivypresto-headline", serif;
    font-weight: 100;
    display: grid;
}

input {
    width: 100%;
    white-space: pre-line;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    outline: none;
}

.inputFieldMessage {
    outline: none;
}

.inputField {
    padding: .5rem;
}

@media only screen and (min-width: 50rem) {
    .contactGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 0 1rem;
        padding: 5rem;
    }

    .contactFormItemA {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    .contactFormItemB {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
    }

    .contactFormItemC {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 3;
    }
}

@media only screen and (min-width: 70rem) {
    .contactGrid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
        padding: 4.375rem;
    }

    .contactFormItemA {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
    }

    .contactFormItemB {
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 2;
    }

    .contactFormItemC {
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 3;
    }
}