/* .footer {
    background: url("HomepageSvgGradient.svg");
} */

.mobileGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 1rem;
}

.footerGridPadding {
    padding:  2rem;
}

.footerBrand {
    height: 6rem;
}

.textPadding {
    padding-bottom: .2rem;
}

.footerContact {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #E5D6FC;
    letter-spacing: .1rem;
}

.footerGrid {
    display: grid;
}

.footerGridItemA {
    grid-column-start: 1;
}

.footerGridItemB {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    text-align: left;
    padding-top: 2rem;
}

.footerGridItemC {
    grid-column-start: 2;
    text-align: right;
}

@media only screen and (min-width: 50rem) {
    .footerGridPadding {
        padding: 2rem 5rem;
    }
}

@media only screen and (min-width: 70rem) {
    .footerGridPadding {
        padding: 2rem 4.375rem;
    }
}