.footer {
    background-image: url("../images/Footer_Gradient.png");
}

.mobileGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1rem;
}

.footerGridPadding {
    padding:  2rem;
}

.footerBrand {
    padding-bottom: 1.5rem;
}

.textPadding {
    padding-bottom: .2rem;
}

.footerContact {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #E5D6FC;
}

.footerGrid {
    display: grid;
}

.footerGridItemB {
    grid-column-start: 5;
    text-align: right;
}

@media only screen and (min-width: 40rem) {
    .footerGridPadding {
        padding: 2rem 5rem;
    }
}

@media only screen and (min-width: 70rem) {
    .footerGridPadding {
        padding: 2rem 4.375rem;
    }
}