.contactPage {
    background-color: #20123E;
    padding: 0 2rem 4rem;
}

.colourLightPurple {
    color: #E5D6FC;
}

.introPadding {
    padding-bottom: 2rem;
}

.formMargin {
    margin-bottom: 1rem;
}

.buttonMargin{
    margin-top: 2rem;
}

.contactForm {
    font-family: "ivypresto-headline", serif;
    font-weight: 100;
    display: grid;
}

input {
    width: 100%;
    white-space: pre-line;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    outline: none;
}

.inputFieldMessage {
    outline: none;
}

.inputField {
    padding: .5rem;
}

@media only screen and (min-width: 40rem) {
    .contactGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 0 1rem;
        padding: 5rem;
    }

    .contactFormItemA {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .contactFormItemB {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
    }

    .contactFormItemC {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 3;
    }
}