header {
    background-color: #20123E;
}

li {
    list-style: none;
}

a {
    color: #E5D6FC;
    text-decoration: none;
}

.navLink {
    font-family: "ivypresto-headline", serif;
    font-weight: 100;
}

.navBar {
    min-height: 5rem;
    display: grid;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.navMenu {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.navLink {
    transition: 0.7s ease;
}

.navLink:hover {
    color: #C6997D;
}