/* .gridPadding {
    padding:  0 2rem;
} */

.textCentred {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.textColourLightPurple {
    color: #E5D6FC;
}

.mobileGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1rem;
}

.servicesPadding {
    padding-bottom: 1rem
}

.servicesIntro {
    display: grid;
    max-height: 40rem;
    background-color: #20123E;
    grid-template-rows: repeat(4, 1fr);
}

.servicesIntroGridItem {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.servicesReiki {
    display: grid;
    min-height: 30rem;
    background-color: #E8E3D6;
    grid-template-rows: repeat(2, auto);
    padding: 4rem 0;
}

.reikiGridItemA {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.reikiGridItemB {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 2rem;
}

.servicesOutro {
    display: grid;
    min-height: 20rem;
    background-color: #4A2A93;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.outroGridItemA {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #E8E3D6;
}

.outroGridItemB {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    max-height: 2rem;
    margin: auto 0;
}