.consultationPage {
    background-color: #20123E;
    height: 55rem;
    padding-top: 8rem;
}

.consultationPadding {
    padding: 10rem 2rem 0
}

@media only screen and (min-width: 50rem) {
    .consultationPadding {
        padding: 0
    }
}