@import url("https://use.typekit.net/iyd3oxw.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
}

h1,
h2,
h3 {
  font-family: "ivypresto-headline", serif;
  font-weight: 100;
}

h2 {
  font-size: 2.2rem;
}

.button {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
}
