@import url("https://use.typekit.net/iyd3oxw.css");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

 p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: .1rem;
 }

 h1, h2, h3 {
    font-family: "ivypresto-headline", serif;
    font-weight: 100;
 }

 .button {
   font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .1rem;
 }
